.cart{
    margin:2rem;
    display: flex;
    flex-direction: column;

}
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,100&display=swap');

.detailcart,.short{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    


}

.short{
    background-color:gainsboro;
    margin:1rem;
    padding:1rem
}


.totalprice{
    position: absolute;
    top:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:15rem
}
.descshort{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.delete{
    padding:1rem;

}

.subtotal button{
    padding:1rem;
    background-color: black;
    color:aliceblue;
    outline: none;
    border: none;
}

.totalprice{
    padding:1rem;
    background-color:darkgray
}

.cart{
    background-color:rgba(187, 170, 170, 0.363)
}